### NumPy: Логическое индексирование [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в список списков. Пожалуйста, напишите функцию load_data (имя файла), которая будет загружать данные из csv-файла в список списков. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:** В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [21]:
#Начало вашего кода
import csv
import numpy as np
def load_data(filename):
    try:
        with open(filename, 'r') as file:
            csv_reader = csv.reader(file)
            data = list(csv_reader)
            header = data[0]  # Первая строка в данных как заголовок
            data = data[1:]   # Остальные строки как данные
            return header, data
    except FileNotFoundError:
        print(f"{filename} does not exist")
        return None, None
#Конец вашего кода

In [22]:
filename = "./SocialNetworkAds.csv"
header, data = load_data(filename=filename)

./SocialNetworkAds.csv does not exist

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [23]:
print(header)
print(data)

None
None

### Ожидаемый результат:

```
None
None
```

In [24]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [25]:
print(header)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

In [26]:
for i in range(5):
    print(data[i])

['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']

### Ожидаемый результат:

```
['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']
```

2. Пожалуйста, напишите функцию ```preprocess_data(data)```, которая преобразует все элементы типа ```str``` в списке ```data``` в целые числа.


**Подсказка:** в случае "Male" и "Female" возможно следующее преобразование:

* заменить "Male" на число 0

* заменить "Female" на число 1

In [27]:
#Начало вашего кода
import csv

def preprocess_data(data):
    for row in data:
        for i, element in enumerate(row):
            if element == 'Male':
                row[i] = 0
            elif element == 'Female':
                row[i] = 1
            else:
                try:
                    row[i] = int(element)
                except ValueError:
                    pass  # Пропустить элементы, которые не могут быть преобразованы в int
    return data
#Конец вашего кода

In [28]:
filt_data = preprocess_data(data=data)

In [29]:
for i in range(5):
    print(filt_data[i])

[15624510, 0, 19, 19000, 0]
[15810944, 0, 35, 20000, 0]
[15668575, 1, 26, 43000, 0]
[15603246, 1, 27, 57000, 0]
[15804002, 0, 19, 76000, 0]

### Ожидаемый результат:

```
[15624510, 0, 19, 19000, 0]
[15810944, 0, 35, 20000, 0]
[15668575, 1, 26, 43000, 0]
[15603246, 1, 27, 57000, 0]
[15804002, 0, 19, 76000, 0]
```

2. Вы должны реализовать функцию ```salary_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение зарплаты.

In [44]:
#Начало вашего кода
def salary_info(data, gender=None):
    salaries = [float(row[-1]) for row in data if isinstance(row[1], str)]  # Получение списка всех зарплат, учитывая только строки во втором столбце

    if gender is not None:  # Если указан пол, фильтруем зарплаты по полу
        gender = gender.lower()
        filtered_salaries = [float(row[-1]) for row in data if isinstance(row[1], str) and row[1].lower() == gender]
        if len(filtered_salaries) > 0:
            salaries = filtered_salaries
        else:
            print(f"No data available for {gender.capitalize()}.")
            return

    salaries = np.array(salaries, dtype=float)  # Преобразование в массив NumPy для вычисления статистики

    if gender is None:
        print("This statistics are for both genders:")
    else:
        print(f"This statistics are for only {gender.capitalize()}:")

    print(f"Max salary: {np.max(salaries):,.2f} USD")
    print(f"Min salary: {np.min(salaries):,.2f} USD")
    print(f"Mean salary: {np.mean(salaries):,.2f} USD")
    print(f"Std of salary: {np.std(salaries):,.2f} USD")


#Конец вашего кода

In [45]:
salary_info(filt_data)

This statistics are for both genders:

ValueError: zero-size array to reduction operation maximum which has no identity

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD
```

In [46]:
salary_info(filt_data, gender="Female")

No data available for Female.

### Ожидаемый результат:

```
This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD
```

In [37]:
salary_info(filt_data, gender="male")

AttributeError: 'int' object has no attribute 'lower'

### Ожидаемый результат:

```
This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD
```

3. Вы должны реализовать функцию ```age_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение возрастов.

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
age_info(filt_data)

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years
```

In [ ]:
age_info(filt_data,"FEMALE")

### Ожидаемый результат:

```
This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years
```

In [ ]:
age_info(filt_data,"mALE")

### Ожидаемый результат:

```
This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years
```

4. Реализовать функции ```salary_info_purchased(data, gender=None, purchased=None)``` и ```age_info_purchased(data, gender=None, purchased=None)```, возвращая статистику, как в задачах 2 и 3, но в зависимости от того, приобрел ли человек продукт или нет.

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
salary_info_purchased(filt_data)
print("\n")
salary_info_purchased(filt_data, gender="Female")
print("\n")
salary_info_purchased(filt_data, gender="Male")
print("\n")
salary_info_purchased(filt_data, purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD


This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD


This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD


This statisctics are for both genders and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 86272.73 USD
Std of salary: 41916.86 USD


This statisctics are for only Female and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 88714.29 USD
Std of salary: 42842.16 USD


This statisctics are for only Male and who did not purchased:
Max salary: 141000.00 USD
Min salary: 15000.00 USD
Mean salary: 59630.77 USD
Std of salary: 23413.72 USD
```

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
age_info_purchased(filt_data)
print("\n")
age_info_purchased(filt_data, gender="Female")
print("\n")
age_info_purchased(filt_data, gender="Male")
print("\n")
age_info_purchased(filt_data, purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years


This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years


This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years


This statisctics are for both genders and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 46.39 years old
Std of age:  8.58 years


This statisctics are for only Female and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 47.16 years old
Std of age:  8.41 years


This statisctics are for only Male and who did not purchased:
Max age: 49.00 years old
Min age: 18.00 years old
Mean age: 32.48 years old
Std of age:  7.48 years
```

# Прекрасная работа!